// Header module
.header {
  background-color: map-get($colors, primary);
  padding: 20px;
  a {
    margin-left: 40px;
    color: map-get($colors, ui-light);
    text-shadow: 1px 1px map-get($colors, ui-dark);
    font-size: 2rem;
    text-decoration: none;
  }
}
